//
// file		: _grid.scss
//

/*
 * GRID
 */
.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.header {
	height: $header-height;
	display: flex;
	flex-direction: row;
	background-color: $header-bg-color;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: row;
	background-color: $main-bg-color;
}

.nav {
	background-color: $nav-bg-color;
	position: absolute;
	width: $nav-width;
	height: $nav-height;
	/*display: flex;
	flex-direction: row;*/
}

.content {
	flex: 1;
	/*display: flex;
	flex-direction: row;*/
	background-color: $content-bg-color;
	transform: translate3d(0, 0, 0);
	//transition: transform .250s;
	transition: all .250s;
	&.content--open {
		flex: 0 1 $content-width-open;
		transform: translate3d($nav-width, 0, 0);
	}
}

.footer {
	height: $footer-height;
	display: flex;
	flex-direction: row;
	background-color: $footer-bg-color;
}
