//
// file		: _header.scss
//

/*
 * HEADER
 */
.header__brand {
	flex: 0 1 $header-brand-width;
	display: flex;
	align-items: center;
	background-color: $header-brand-bg-color;
}

.header__brand h1 {
	padding: 0 20px;
	font-size: 2rem;
	color: #fff;
}

.header__event--nav {
	flex: 0 1 auto;
	display: flex;
	background-color: $header-bg-color;
}

.header__event--nav .navicon {
	width: 64px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__event--nav .navicon i {
	color: #fff;
	font-size: 1.5rem;
}

.header__title {
	flex: 1;
	display: flex;
	align-items: center;
	background-color: $header-bg-color;
}

.header__title h2 {
	padding-left: 10px;
	font-size: 1.5rem;
	color: #fff;
}
