//
// file		: _nav.scss
//

// IN PROGRESS !!!

/*
 * NAV
 */
.nav__content {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	ms-touch-action: pan-y;
	touch-action: pan-y;
	& > li {
		list-style-type: none;
	}
}

.nav__content li > a {
	color: #616161;
	text-decoration: none;
	display: block;
	padding: 0 1.25rem;
	outline: 0;
	line-height: 3rem;
	font-size: .8rem;
	text-transform: uppercase;
}

.nav__content li > a:hover {
	background-color: $nav-hover-bg-color;
	color: #fff;
}

.nav__content li.active > a:hover {
	background-color: $nav-active-bg-color;
}

.nav__content li.active > a {
	color: #fff;
	background-color: $nav-active-bg-color;
}

.nav__content li > a span {
	display: inline-block;
	margin-left: 15px;
}

.nav__content li > a i:last-child {
	float: right;
	line-height: inherit;
	padding-right: 0;
	transition: transform .200s;
}

.nav__content li.active > a i:last-child {
	transform: rotate(90deg);
}

.nav__content li.active ul {
	display: block;
}


// sub menu
.submenu__list {
	display: none;
}

.submenu__list li {
	background-color: $nav-sub-bg-color;
	border-bottom: none;
}

.submenu__list li > a {
	line-height: 3rem;
	padding-left: 54px;
}

.submenu__list li > a:hover {
	background-color: $nav-sub-hover-bg-color;
}
