//
// file		: _variables.scss
//

// Version of the project
$version:					0.2.0 !default;

// Options
$enable-reset-elements:		true !default;
$enable-obsolete-elements:	false !default;


// COLOR
$color-black:				#000000 !default;
$color-white:				#FFFFFF !default;


// DOCUMENT
//
// html element
$html-font-size:			16px !default;


// SECTIONS
//
// body element
$body-bg:					$color-white !default;
$body-color:				$color-black !default;

$font-family-sans-serif:	-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:			Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:		Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:			$font-family-sans-serif !default;

$font-size-base:			1rem !default;
$font-weight-base:			400 !default;

$line-height-base:			1.5 !default;


// GRID
//
// common
$nav-width-base:			18.75rem !default;

// header
$header-height:				4rem !default;
$header-bg-color:			lighten($color-black, 5%) !default;
$header-brand-width:		$nav-width-base !default;
$header-brand-bg-color:		lighten($color-black, 2%) !default;

// main
$main-bg-color:				lighten($color-black, 10%) !default;

// footer
$footer-height:				3rem !default;
$footer-bg-color:			lighten($color-black, 5%) !default;

// nav
$nav-height:				calc(100vh - (#{$header-height} + #{$footer-height})) !default;
$nav-width:					$nav-width-base !default;
$nav-bg-color:				lighten($color-black, 5%) !default;

// content
$content-bg-color:			lighten($color-black, 10%) !default;
$content-width-open:		calc(100vw - #{$nav-width-base}) !default;


// NAV
//
$nav-active-bg-color:		#2196F3 !default;
$nav-hover-bg-color:		lighten($color-black, 10%) !default;
$nav-sub-bg-color:			lighten($color-black, 6%) !default;
$nav-sub-hover-bg-color:	lighten($color-black, 10%) !default;
