//
// file		: _variables.scss
//

// Version of the project
$version:					0.1.0 !default;

// Options
$enable-reset-elements:		true !default;
$enable-obsolete-elements:	false !default;


// DOCUMENT
//
// html element
$html-font-size:			16px !default;


// SECTIONS
//
// body element
$body-bg:					#ffffff !default;
$body-color:				#000000 !default;

$font-family-sans-serif:	-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:			Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:		Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:			$font-family-sans-serif !default;

$font-size-base:			1rem !default;
$font-weight-base:			400 !default;

$line-height-base:			1.5 !default;


// GRID
//
// common
$section-height-base:		3.75rem !default;
$nav-width-base:			18.75rem !default;

// header
$header-height:				$section-height-base !default;
$header-bg-color:			#303f9f !default;
$header-brand-width:		$nav-width-base !default;
$header-brand-bg-color:		#1a237e !default;

// nav
$nav-width:					$nav-width-base !default;
$nav-bg-color:				#ccc !default;

// content
$content-bg-color:			#ddd !default;

// footer
$footer-height:				$section-height-base !default;
$footer-bg-color:			#303f9f !default;
